USE [master]
GO
/****** Object:  Database [careermate]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE DATABASE [careermate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'careermate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\careermate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'careermate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\careermate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [careermate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [careermate]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consultant_id] [int] NULL,
	[user_id] [int] NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[url_online] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_functions]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_functions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[url] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_role_functions]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_role_functions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[function_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_roles]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_roles]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_users]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](512) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANDIDATE_PROFILE]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATE_PROFILE](
	[candidate_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[bio] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANDIDATE_SKILL]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATE_SKILL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[level] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAREER_ROADMAP]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAREER_ROADMAP](
	[roadmap_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content_json] [ntext] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[roadmap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_MESSAGE]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_MESSAGE](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[sender] [nvarchar](100) NOT NULL,
	[content] [ntext] NOT NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[msg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_SESSION]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_SESSION](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[topic] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_candidate_profiles]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_candidate_profiles](
	[candidate_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[bio] [varchar](max) NULL,
	[avatar_url] [varchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_candidate_skills]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_candidate_skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[level] [varchar](12) NULL,
	[years_experience] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_career_roadmaps]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_career_roadmaps](
	[roadmap_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content_json] [varchar](max) NULL,
	[target_role] [varchar](255) NULL,
	[estimated_duration] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[roadmap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_chat_messages]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_chat_messages](
	[msg_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[sender] [varchar](6) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[msg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_chat_sessions]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_chat_sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[topic] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_companies]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_companies](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[description] [varchar](1000) NULL,
	[website] [varchar](500) NULL,
	[logo_url] [varchar](500) NULL,
	[location] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_cv_analyses]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_cv_analyses](
	[analysis_id] [int] IDENTITY(1,1) NOT NULL,
	[resume_id] [int] NOT NULL,
	[ats_score] [numeric](5, 2) NULL,
	[feedback] [varchar](max) NULL,
	[missing_skills] [varchar](max) NULL,
	[strengths] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_job_applications]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_job_applications](
	[app_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[candidate_id] [int] NOT NULL,
	[resume_id] [int] NULL,
	[status] [varchar](50) NOT NULL,
	[ai_match_score] [numeric](5, 2) NULL,
	[cover_letter] [varchar](2000) NULL,
	[applied_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_job_posts]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_job_posts](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NULL,
	[recruiter_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](max) NULL,
	[salary_min] [numeric](15, 2) NULL,
	[salary_max] [numeric](15, 2) NULL,
	[location] [varchar](255) NULL,
	[job_type] [varchar](50) NULL,
	[deadline] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[salary_range] [nvarchar](100) NULL,
	[company_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_job_skills]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_job_skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[is_required] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_password_resets]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_password_resets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[otp_code] [varchar](6) NOT NULL,
	[is_used] [bit] NULL,
	[attempts] [int] NULL,
	[expires_at] [datetime] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_recruiter_profiles]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_recruiter_profiles](
	[recruiter_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NULL,
	[position] [varchar](100) NULL,
	[full_name] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[location] [varchar](255) NULL,
	[website] [varchar](500) NULL,
	[bio] [varchar](1000) NULL,
	[company_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[recruiter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_resumes]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_resumes](
	[resume_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[file_url] [varchar](500) NOT NULL,
	[file_name] [varchar](255) NULL,
	[is_primary] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_saved_jobs]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_saved_jobs](
	[save_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[candidate_id] [int] NOT NULL,
	[note] [varchar](500) NULL,
	[saved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[save_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_skills]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_skills](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[category] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_subscription_packages]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_subscription_packages](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[duration_days] [int] NOT NULL,
	[description] [varchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_user_subscriptions]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_user_subscriptions](
	[sub_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[status] [varchar](9) NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cm_users]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cm_users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](512) NULL,
	[role] [varchar](9) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[oauth_provider] [varchar](50) NULL,
	[oauth_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [ntext] NULL,
	[website] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultants]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[consultant_name] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[age] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_register]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_register](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[course_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV_ANALYSIS]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_ANALYSIS](
	[analysis_id] [int] IDENTITY(1,1) NOT NULL,
	[resume_id] [int] NOT NULL,
	[job_id] [int] NULL,
	[ai_score] [float] NULL,
	[feedback] [ntext] NULL,
	[missing_skills] [ntext] NULL,
	[analyzed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[analysis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedbacks]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[feedback_text] [varchar](255) NULL,
	[evaluation] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[course_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flask_user]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flask_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](18) NOT NULL,
	[password] [varchar](18) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_APPLICATION]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_APPLICATION](
	[app_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[candidate_id] [int] NOT NULL,
	[resume_id] [int] NOT NULL,
	[applied_at] [datetime] NULL,
	[status] [varchar](50) NULL,
	[ai_match_score] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_POST]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_POST](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [ntext] NOT NULL,
	[salary_min] [decimal](18, 2) NULL,
	[salary_max] [decimal](18, 2) NULL,
	[deadline] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_SKILL]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_SKILL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[is_required] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pay_trans]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pay_trans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[transaction_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programs]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECRUITER_PROFILE]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECRUITER_PROFILE](
	[recruiter_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[recruiter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESUME]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESUME](
	[resume_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[file_url] [varchar](max) NOT NULL,
	[is_primary] [bit] NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAVED_JOB]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAVED_JOB](
	[savejob_id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[saved_at] [datetime] NULL,
	[note] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[savejob_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sell_customers]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sell_customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sell_invoice_items]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sell_invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [float] NULL,
	[total_price] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sell_invoices]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sell_invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[invoice_date] [datetime] NULL,
	[total_amount] [float] NULL,
	[status] [varchar](50) NULL,
	[invoice_code] [varchar](12) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[blank_amount] [float] NULL,
	[paid_amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sell_products]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sell_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[product_code] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKILL]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILL](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTION_PACKAGE]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTION_PACKAGE](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[duration_days] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[surveys]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[surveys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[todos]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[todos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](500) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SUBSCRIPTION]    Script Date: 4/2/2026 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SUBSCRIPTION](
	[sub_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cm_candidate_profiles] ON 

INSERT [dbo].[cm_candidate_profiles] ([candidate_id], [user_id], [full_name], [phone], [bio], [avatar_url], [created_at], [updated_at]) VALUES (2, 4, N'An', N'0932651446', NULL, NULL, CAST(N'2026-01-12T07:45:45.910' AS DateTime), CAST(N'2026-01-12T07:45:45.910' AS DateTime))
INSERT [dbo].[cm_candidate_profiles] ([candidate_id], [user_id], [full_name], [phone], [bio], [avatar_url], [created_at], [updated_at]) VALUES (3, 5, N'dsad', N'0932651446', NULL, NULL, CAST(N'2026-01-12T07:48:10.640' AS DateTime), CAST(N'2026-01-12T07:48:10.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_candidate_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_career_roadmaps] ON 

SET IDENTITY_INSERT [dbo].[cm_career_roadmaps] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_chat_messages] ON 

INSERT [dbo].[cm_chat_messages] ([msg_id], [session_id], [sender], [content], [sent_at]) VALUES (1, 1, N'USER', N'hi', CAST(N'2026-01-12T08:32:43.527' AS DateTime))
INSERT [dbo].[cm_chat_messages] ([msg_id], [session_id], [sender], [content], [sent_at]) VALUES (2, 1, N'AI', N'Xin l?i, t?i ?ang g?p s? c? k? thu?t. Vui lòng th? l?i sau. (Error: Gemini chat error: 404 models/gemini-1.5-flash is not found for API version v1beta, or is not supported for generateContent. Call ListModels to see the list of available models and their supported methods.)', CAST(N'2026-01-12T08:32:43.767' AS DateTime))
INSERT [dbo].[cm_chat_messages] ([msg_id], [session_id], [sender], [content], [sent_at]) VALUES (93, 25, N'USER', N'Practice mock interview questions', CAST(N'2026-02-03T15:34:07.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_chat_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_chat_sessions] ON 

INSERT [dbo].[cm_chat_sessions] ([session_id], [user_id], [topic], [created_at], [updated_at]) VALUES (1, 1, N'Career Coaching', CAST(N'2026-01-12T08:32:43.503' AS DateTime), CAST(N'2026-01-12T08:32:43.760' AS DateTime))
INSERT [dbo].[cm_chat_sessions] ([session_id], [user_id], [topic], [created_at], [updated_at]) VALUES (25, 3, N'Career Coaching', CAST(N'2026-02-03T15:34:07.800' AS DateTime), CAST(N'2026-02-03T15:34:27.180' AS DateTime))
INSERT [dbo].[cm_chat_sessions] ([session_id], [user_id], [topic], [created_at], [updated_at]) VALUES (26, 3, N'Career Coaching', CAST(N'2026-02-04T00:43:19.383' AS DateTime), CAST(N'2026-02-04T00:43:21.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_chat_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_job_posts] ON 

INSERT [dbo].[cm_job_posts] ([job_id], [company_id], [recruiter_id], [title], [description], [salary_min], [salary_max], [location], [job_type], [deadline], [status], [created_at], [updated_at], [salary_range], [company_name]) VALUES (11, NULL, 1, N'Frontend Developer', N'need skills ', NULL, NULL, N'Ho Chi Minh', N'Full-time', NULL, N'REJECTED', CAST(N'2026-02-04T01:24:42.700' AS DateTime), CAST(N'2026-02-04T14:59:20.260' AS DateTime), N'Under 10 million', NULL)
INSERT [dbo].[cm_job_posts] ([job_id], [company_id], [recruiter_id], [title], [description], [salary_min], [salary_max], [location], [job_type], [deadline], [status], [created_at], [updated_at], [salary_range], [company_name]) VALUES (12, NULL, 1, N'Frontend Developeer', N'test', NULL, NULL, N'Ha Noi', N'Full-time', NULL, N'PENDING', CAST(N'2026-02-04T01:34:31.877' AS DateTime), CAST(N'2026-02-04T01:34:32.203' AS DateTime), N'Under 10 million', N'FPT Software')
SET IDENTITY_INSERT [dbo].[cm_job_posts] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_password_resets] ON 

INSERT [dbo].[cm_password_resets] ([id], [email], [otp_code], [is_used], [attempts], [expires_at], [created_at]) VALUES (1, N'yasuoprogamer754@gmail.com', N'380661', 1, 0, CAST(N'2026-01-30T04:05:14.823' AS DateTime), CAST(N'2026-01-30T03:55:14.827' AS DateTime))
INSERT [dbo].[cm_password_resets] ([id], [email], [otp_code], [is_used], [attempts], [expires_at], [created_at]) VALUES (2, N'yasuoprogamer754@gmail.com', N'369302', 1, 0, CAST(N'2026-01-30T04:07:12.993' AS DateTime), CAST(N'2026-01-30T03:57:12.993' AS DateTime))
INSERT [dbo].[cm_password_resets] ([id], [email], [otp_code], [is_used], [attempts], [expires_at], [created_at]) VALUES (3, N'yasuoprogamer754@gmail.com', N'148992', 1, 0, CAST(N'2026-01-30T04:07:15.520' AS DateTime), CAST(N'2026-01-30T03:57:15.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_password_resets] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_recruiter_profiles] ON 

SET IDENTITY_INSERT [dbo].[cm_recruiter_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_subscription_packages] ON 

INSERT [dbo].[cm_subscription_packages] ([package_id], [name], [price], [duration_days], [description], [created_at], [updated_at]) VALUES (2, N'Premium', CAST(199000.00 AS Numeric(10, 2)), 30, N'CV Analyzer advanced
Career Coach AI
Unlimited apply
Priority support', NULL, CAST(N'2026-02-04T01:51:25.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_subscription_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_user_subscriptions] ON 

INSERT [dbo].[cm_user_subscriptions] ([sub_id], [user_id], [package_id], [status], [start_date], [end_date], [created_at], [updated_at]) VALUES (1, 3, 2, N'ACTIVE', CAST(N'2026-02-04T14:41:02.160' AS DateTime), CAST(N'2026-03-06T14:41:02.160' AS DateTime), CAST(N'2026-02-04T14:41:02.163' AS DateTime), CAST(N'2026-02-04T14:41:02.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[cm_user_subscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[cm_users] ON 

INSERT [dbo].[cm_users] ([user_id], [email], [password_hash], [role], [is_active], [created_at], [updated_at], [oauth_provider], [oauth_id]) VALUES (1, N'yasuoprogamer754@gmail.com', N'scrypt:32768:8:1$Q00esWc118vwSTha$0ce3dea51f0da04d2640dea112912478fd62de245283279d4e414b98ff0f67cad783fbeaeac0a7551b22ea5c7adfc0f9d80e8576a22caa30eba93e10cff3585f', N'RECRUITER', 1, CAST(N'2026-01-11T06:32:51.803' AS DateTime), CAST(N'2026-01-13T06:48:01.750' AS DateTime), N'google', N'103128537541287074981')
INSERT [dbo].[cm_users] ([user_id], [email], [password_hash], [role], [is_active], [created_at], [updated_at], [oauth_provider], [oauth_id]) VALUES (2, N'admin@careermate.com', N'scrypt:32768:8:1$afGGssrNEDwC4Kla$a53065bc50b79a3a8c4b254750703c61524c0d18468f589c3a1785cceaa2d64be85bdca5d203eb1215835998d11601fe25283a1dacdf458dd51c51d8b2f1a122', N'ADMIN', 1, CAST(N'2026-01-11T08:46:35.390' AS DateTime), CAST(N'2026-01-11T08:46:35.390' AS DateTime), NULL, NULL)
INSERT [dbo].[cm_users] ([user_id], [email], [password_hash], [role], [is_active], [created_at], [updated_at], [oauth_provider], [oauth_id]) VALUES (3, N'truongnt0096@ut.edu.vn', N'scrypt:32768:8:1$asjmKJ74R3HPyh3z$3f04488e723c8805da06322a0e425e2b44c65a1b09a19948c8c5a0da67334d03cf0f189aa0ee45b781fc5117daa388229ba39c5e0c5c3b9f689517c2a597ccd1', N'CANDIDATE', 1, CAST(N'2026-01-12T06:16:51.650' AS DateTime), CAST(N'2026-01-13T07:03:17.313' AS DateTime), N'google', N'105873429303609899845')
SET IDENTITY_INSERT [dbo].[cm_users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_fun__72E12F1BF0176185]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[auth_functions] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_fun__DD77841735D3A315]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[auth_functions] ADD UNIQUE NONCLUSTERED 
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_rol__72E12F1B3EA58CAD]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[auth_roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_use__AB6E61642224A28E]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[auth_users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__auth_use__F3DBC5727C5B30A1]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[auth_users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CANDIDAT__B9BE370EECC9C62C]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[CANDIDATE_PROFILE] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_candidate_profiles_user_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_cm_candidate_profiles_user_id] ON [dbo].[cm_candidate_profiles]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_candidate_skills_candidate_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_candidate_skills_candidate_id] ON [dbo].[cm_candidate_skills]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_candidate_skills_skill_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_candidate_skills_skill_id] ON [dbo].[cm_candidate_skills]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_career_roadmaps_candidate_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_career_roadmaps_candidate_id] ON [dbo].[cm_career_roadmaps]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_chat_messages_session_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_chat_messages_session_id] ON [dbo].[cm_chat_messages]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_chat_sessions_user_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_chat_sessions_user_id] ON [dbo].[cm_chat_sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_companies_name]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_companies_name] ON [dbo].[cm_companies]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_cv_analyses_resume_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_cm_cv_analyses_resume_id] ON [dbo].[cm_cv_analyses]
(
	[resume_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_applications_candidate_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_applications_candidate_id] ON [dbo].[cm_job_applications]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_applications_job_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_applications_job_id] ON [dbo].[cm_job_applications]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_posts_company_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_posts_company_id] ON [dbo].[cm_job_posts]
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_posts_recruiter_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_posts_recruiter_id] ON [dbo].[cm_job_posts]
(
	[recruiter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_job_posts_title]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_posts_title] ON [dbo].[cm_job_posts]
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_skills_job_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_skills_job_id] ON [dbo].[cm_job_skills]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_job_skills_skill_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_job_skills_skill_id] ON [dbo].[cm_job_skills]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_password_resets_email]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_password_resets_email] ON [dbo].[cm_password_resets]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_recruiter_profiles_company_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_recruiter_profiles_company_id] ON [dbo].[cm_recruiter_profiles]
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_recruiter_profiles_user_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_cm_recruiter_profiles_user_id] ON [dbo].[cm_recruiter_profiles]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_resumes_candidate_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_resumes_candidate_id] ON [dbo].[cm_resumes]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_saved_jobs_candidate_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_saved_jobs_candidate_id] ON [dbo].[cm_saved_jobs]
(
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_saved_jobs_job_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_saved_jobs_job_id] ON [dbo].[cm_saved_jobs]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_skills_name]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_cm_skills_name] ON [dbo].[cm_skills]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_cm_user_subscriptions_user_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_user_subscriptions_user_id] ON [dbo].[cm_user_subscriptions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_users_email]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_cm_users_email] ON [dbo].[cm_users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_cm_users_oauth_id]    Script Date: 4/2/2026 10:03:41 PM ******/
CREATE NONCLUSTERED INDEX [ix_cm_users_oauth_id] ON [dbo].[cm_users]
(
	[oauth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__flask_us__F3DBC57231514528]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[flask_user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__RECRUITE__B9BE370E14C69AD0]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[RECRUITER_PROFILE] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sell_cus__AB6E6164DE941DE9]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[sell_customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sell_inv__5ED70A35DA8DED7E]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[sell_invoices] ADD UNIQUE NONCLUSTERED 
(
	[invoice_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sell_pro__AE1A8CC4751C4D2F]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[sell_products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__AB6E616445B63B2B]    Script Date: 4/2/2026 10:03:41 PM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAREER_ROADMAP] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHAT_MESSAGE] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[CHAT_SESSION] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CV_ANALYSIS] ADD  DEFAULT (getdate()) FOR [analyzed_at]
GO
ALTER TABLE [dbo].[JOB_APPLICATION] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[JOB_APPLICATION] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[JOB_POST] ADD  DEFAULT ('Open') FOR [status]
GO
ALTER TABLE [dbo].[JOB_SKILL] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[RESUME] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[RESUME] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[SAVED_JOB] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER_SUBSCRIPTION] ADD  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[USER_SUBSCRIPTION] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([consultant_id])
REFERENCES [dbo].[consultants] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[flask_user] ([id])
GO
ALTER TABLE [dbo].[auth_role_functions]  WITH CHECK ADD FOREIGN KEY([function_id])
REFERENCES [dbo].[auth_functions] ([id])
GO
ALTER TABLE [dbo].[auth_role_functions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[auth_roles] ([id])
GO
ALTER TABLE [dbo].[auth_user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[auth_roles] ([id])
GO
ALTER TABLE [dbo].[auth_user_roles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_users] ([id])
GO
ALTER TABLE [dbo].[CANDIDATE_PROFILE]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[CANDIDATE_SKILL]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[CANDIDATE_PROFILE] ([candidate_id])
GO
ALTER TABLE [dbo].[CANDIDATE_SKILL]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[SKILL] ([skill_id])
GO
ALTER TABLE [dbo].[CAREER_ROADMAP]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[CANDIDATE_PROFILE] ([candidate_id])
GO
ALTER TABLE [dbo].[CHAT_MESSAGE]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[CHAT_SESSION] ([session_id])
GO
ALTER TABLE [dbo].[CHAT_SESSION]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[cm_candidate_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[cm_users] ([user_id])
GO
ALTER TABLE [dbo].[cm_candidate_skills]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[cm_candidate_profiles] ([candidate_id])
GO
ALTER TABLE [dbo].[cm_candidate_skills]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[cm_skills] ([skill_id])
GO
ALTER TABLE [dbo].[cm_career_roadmaps]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[cm_candidate_profiles] ([candidate_id])
GO
ALTER TABLE [dbo].[cm_chat_messages]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[cm_chat_sessions] ([session_id])
GO
ALTER TABLE [dbo].[cm_chat_sessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[cm_users] ([user_id])
GO
ALTER TABLE [dbo].[cm_cv_analyses]  WITH CHECK ADD FOREIGN KEY([resume_id])
REFERENCES [dbo].[cm_resumes] ([resume_id])
GO
ALTER TABLE [dbo].[cm_job_applications]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[cm_candidate_profiles] ([candidate_id])
GO
ALTER TABLE [dbo].[cm_job_applications]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[cm_job_posts] ([job_id])
GO
ALTER TABLE [dbo].[cm_job_applications]  WITH CHECK ADD FOREIGN KEY([resume_id])
REFERENCES [dbo].[cm_resumes] ([resume_id])
GO
ALTER TABLE [dbo].[cm_job_posts]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[cm_companies] ([company_id])
GO
ALTER TABLE [dbo].[cm_job_posts]  WITH CHECK ADD FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[cm_recruiter_profiles] ([recruiter_id])
GO
ALTER TABLE [dbo].[cm_job_skills]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[cm_job_posts] ([job_id])
GO
ALTER TABLE [dbo].[cm_job_skills]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[cm_skills] ([skill_id])
GO
ALTER TABLE [dbo].[cm_recruiter_profiles]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[cm_companies] ([company_id])
GO
ALTER TABLE [dbo].[cm_recruiter_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[cm_users] ([user_id])
GO
ALTER TABLE [dbo].[cm_resumes]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[cm_candidate_profiles] ([candidate_id])
GO
ALTER TABLE [dbo].[cm_saved_jobs]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[cm_candidate_profiles] ([candidate_id])
GO
ALTER TABLE [dbo].[cm_saved_jobs]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[cm_job_posts] ([job_id])
GO
ALTER TABLE [dbo].[cm_user_subscriptions]  WITH CHECK ADD FOREIGN KEY([package_id])
REFERENCES [dbo].[cm_subscription_packages] ([package_id])
GO
ALTER TABLE [dbo].[cm_user_subscriptions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[cm_users] ([user_id])
GO
ALTER TABLE [dbo].[course_register]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_register]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[flask_user] ([id])
GO
ALTER TABLE [dbo].[CV_ANALYSIS]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[JOB_POST] ([job_id])
GO
ALTER TABLE [dbo].[CV_ANALYSIS]  WITH CHECK ADD FOREIGN KEY([resume_id])
REFERENCES [dbo].[RESUME] ([resume_id])
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[flask_user] ([id])
GO
ALTER TABLE [dbo].[JOB_APPLICATION]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[CANDIDATE_PROFILE] ([candidate_id])
GO
ALTER TABLE [dbo].[JOB_APPLICATION]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[JOB_POST] ([job_id])
GO
ALTER TABLE [dbo].[JOB_APPLICATION]  WITH CHECK ADD FOREIGN KEY([resume_id])
REFERENCES [dbo].[RESUME] ([resume_id])
GO
ALTER TABLE [dbo].[JOB_POST]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[COMPANY] ([company_id])
GO
ALTER TABLE [dbo].[JOB_POST]  WITH CHECK ADD FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[RECRUITER_PROFILE] ([recruiter_id])
GO
ALTER TABLE [dbo].[JOB_SKILL]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[JOB_POST] ([job_id])
GO
ALTER TABLE [dbo].[JOB_SKILL]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[SKILL] ([skill_id])
GO
ALTER TABLE [dbo].[pay_trans]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[sell_invoices] ([id])
GO
ALTER TABLE [dbo].[RECRUITER_PROFILE]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[COMPANY] ([company_id])
GO
ALTER TABLE [dbo].[RECRUITER_PROFILE]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[RESUME]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[CANDIDATE_PROFILE] ([candidate_id])
GO
ALTER TABLE [dbo].[SAVED_JOB]  WITH CHECK ADD FOREIGN KEY([candidate_id])
REFERENCES [dbo].[CANDIDATE_PROFILE] ([candidate_id])
GO
ALTER TABLE [dbo].[SAVED_JOB]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[JOB_POST] ([job_id])
GO
ALTER TABLE [dbo].[sell_invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[sell_invoices] ([id])
GO
ALTER TABLE [dbo].[sell_invoice_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[sell_products] ([id])
GO
ALTER TABLE [dbo].[sell_invoices]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[sell_customers] ([id])
GO
ALTER TABLE [dbo].[USER_SUBSCRIPTION]  WITH CHECK ADD FOREIGN KEY([package_id])
REFERENCES [dbo].[SUBSCRIPTION_PACKAGE] ([package_id])
GO
ALTER TABLE [dbo].[USER_SUBSCRIPTION]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
USE [master]
GO
